*{
	font-family: 'Montserrat', sans-serif;
}
.Main-Main{
	height: 600px;
	background-image: url("header.jpg");
	color: white;
}
.Main{
	height: 100px;
	padding-top: 10px;
}
.logo{
	float: left;
	padding-top: 10px;
	padding-left: 56px;
}
nav{
	float: right;
	padding-top: 26px;
	padding-right: 56px;
	word-spacing: 15px;
}
li{
	display: inline-block;
	font-weight: bold;
	font-size: 14px;
	text-transform: uppercase;
}
p{
	line-height: 30px;
}
a{
	text-decoration: none;
	color: white;
	padding: 5px;
}
#tel{
	padding: 5px;
	background: #3399FF;
	border-radius: 5px;
}
a:hover{
	padding: 5px;
	background: #3399FF;
	border-radius: 5px;
}
.showcase{
	text-align: center;
	height: 500px;
	padding-right: 40px;
}
.showcase h1{
	word-spacing: 15px;
	padding-top: 100px;
	font-size: 70px;
}
.showcase h3{
	position: relative;
	bottom: 30px;
}
.Content{
	margin-top: 150px;	
	height: 380px;
}
.section{
	float: left;
	width:500px;
	position: relative;
	left: 50px;
	bottom: 30px;
}
.aside{
	position: relative;
	right: 50px;
	height: 380px;
	width: 600px;
	float: right;
	background-image: url("section1.jpg");
}
.aside h1{
	color: white;
	position: absolute;
	bottom: 20px;
	right: 45px;
}
.section h1{
	color:#3399FF;
	font-size: 30px;
	font-weight: bold;
}
.section h2{
	color:#3399FF;
	font-size: 25px;
}
.section h3{
	text-align: center;
	padding: 5px;
	background: #3399FF;
	border-radius: 5px;
	width: 152px;
}
.section2{
	margin-top: 150px;
	text-align: center;
}
.section2 h1{
	color:#3399FF;
	font-size: 30px;
	font-weight: bold;
}
.section2 p{
	text-align: center;
	margin:auto;
	width: 633px;
}
.section3{
	height:369px;
	display: flex;
}
.subsection{
	flex:1;
	height: 271px;
	text-align: center;
	margin: 17px;
	color: white;
}
.subsection1{
	height: 271px;
	background-image: url("1.jpg");
}
.subsection2{
	height: 271px;
	background-image: url("2.jpg");	
}
.subsection3{
	height: 271px;
	background-image: url("3.jpg");
}
.subsection4{
	height: 271px;
	background-image: url("4.jpg");
}
.subsection h2{
	position: relative;
	top: 35%;
}
.subsection p{
	position: relative;
	top: 30%;
}
.button{
	width: 153px;
	height: 70px;
	margin: auto;
	background: #3399FF;
	border-radius: 5px;
	text-align: center;
}
.button h3{
	position: relative;
	top: 10px;
}
.section4 section{
	margin-top: 200px;
	height: 500px;
	display: flex;
	text-align: center;
}
.section4 p{
	font-size: 12px;
}
.section4 h1{
	color: #3399FF;
	text-transform: uppercase;
	font-size:30px;
}
.subsection4-1{
	margin: 30px;
	flex:1;
}
.subsection4-2{
	margin: 30px;
	flex:1;
}
.subsection4-3{
	margin: 30px;
	flex:1;
}
.section5{
	height: 534px;
	background-image: url("section5.png");
	color: white;
	text-align: right;
	margin-top: 100px;
}
.section5 section{
	width: 40%;
	float: right;
	position: relative;
	right: 100px;
	top: 80px;
}
.section5 p{
	font-size: 12px;
}
.section5 h1{
	font-size: 30px;
	font-weight: bold;
}
.section5 a{
	position: relative;
	top: 20px;
	background-color: white;
	font-weight: bold;
	color: #3399FF;
	border-radius: 5px;
	padding:10px;
}
.section6{
	height:270px;
	display:flex;
	background-image: url("section6bg_01.png");
}
.subsection6{
	margin: 60px 54px 60px 54px;
}
.subsection6 h1{
	font-size: 20px;
	text-transform: none;
}
.subsection6 li{
	display: block;
	text-transform: none;
}
.footer{
	height: 121px;
	background-image: url("footerimage.jpg");
	color: white;
}
#first-footer{
	float: left;
	padding: 30px 70px 30px 70px;
}
#second-footer{
	float: right;
	padding: 30px 70px 30px 70px;
}
@media screen and (max-width: 768px) {
	*{
		float: none;
		display: block;
		margin: auto;
		text-align: center;
	}
	title{
		display: none;
	}
	.logo{
		padding: 0;
		width: 100%;
	}
	.logo h1{
		font-size: 30px;
	}
	li{
			display: block;
			text-align: center;
			margin: auto;
			padding-top: 8%;
	}
	.Content .section{
		width: 100%;
		position: relative;
		left:0;
	}
	.Content .section section h2{
		padding: 10%
	}
	nav{
		width: 100%;
		padding: 0;
		margin-right: 5%;
	}
	.showcase{
		display: none;
	}
	.section2 h1{
		position: relative;
		top: 25px;
	}
	.section2 p{
		width: 100%;
		padding-top: 10%;
	}
	.subsection{
		display: block;
		width: 10%;
	}
	.subsection h2{
		font-size: 100%;
	}
	.subsection p{
		margin-top: 30%;
		font-size: 80%
	}
	.section4 section{
		display: block;
		height: 30%;
	}
	.section5{
		text-align: center;

	}
	.section5 section{
		position: relative;
		top: 30px;
		width: 70%;
		right: 30px;
	}
	.section6{
		padding-top: 20%;
		display: block;
	}
	.subsection6{
		padding-top: 5%;
		text-align: center;
		display: block;
	}
	footer{
	display: none;
	}