*{
}
body{
	margin: 0;
	background-image: url('bg.jpg');
	font-family: 'Montserrat', sans-serif;
}
a{
	text-decoration: none;
}
input{
	display: block;
}
header{
	height: 600px;
	background-image: url('header.jpg');
}
.logo{
	float: left;
	margin-left: 110px;
	margin-top: 44px;
}
nav{
	float: right;
	margin-right: 110px;
	margin-top: 35px;
}
nav ul li{
	display: inline;
	margin: 10px;
	padding: 12px;
	color: white;
}
nav ul li:hover{
	background-color: #76c38f;
	border-radius: 10px;
}
.text{
	float: left;
	width: 370px;
	color: white;
	margin-left: 195px;
	margin-top: 80px;
}
.text h1{
	font-size: 40px;
}
.text p{
	margin-bottom: 30px;
	color: #979797;
}
.text a{
	padding: 12px;
	color: white;
	text-decoration: none;	
	background-color: #76c38f;
	border-radius: 10px;
}
showcase img{
	float: right;
	margin-right: 195px;
	margin-top: 48px;
}
.section1{
	margin-top: 4%;
	height: 375px;
	display: flex;
	margin-right: 50px;
	margin-left: 50px;
}
.section1 a{
	margin: 20px;
	color: #333333;
	text-align: center;
	height: 305px;
	background-color: white;
	padding: 30px;
}
.section1 a h3{
	height: 120px;
	width: 120px;
	background-color: #333333;
	margin: auto;
}
.middle{
	padding-top: 48px;
	color: white;
}
.section1 a h1{
	font-size: 25px;
}
.section1 a p{
	font-size: 12px;
}
.section1 a:hover{
	background-color: #76c38f;
	color: white;
}
.section1 a:hover h3{
	background-color: white;
}
.section1 a:hover .middle{
	color: black;
}
.section2{
	height: 568px;
	margin-top: 5%;
}
.section2 h1{
	width: 13.1%;
	margin: auto;
	color: white;
	padding: 8px;
	border-radius: 10px;
	background-color: #333333;
}
.row1, .row2{
	display: flex;
	margin-top: 3%;
}
.box{
	margin: auto;
	width: 300px;
	height: 200px;
	text-align: center;
	background-color: #333333;
	color: white;
	border: 5px solid white;
}
.box p{
	margin-top: 30%;
}
.box footer{
	background-color: #151515;
	padding: 3px 0;
	position: relative;
	top: 50px;
}
.box:hover{
	border: 5px solid #76c38f;
}
.box:hover footer{
	display: none;
}
.section3{
	display: flex;
	background-color: #303030;
	color: white;
	margin-top: 30px;
	padding-bottom: 20px;
	color: #979797;
}
.section3 h3{
	color: white;
}
.section3 div{
	width: 300px;
	margin-left: 25px;
	margin-top: 25px;
}
.section3 .green{
	color:#76c38f;	
}
.section3 .subsection3-1{
	margin-left: 70px;
}
.section3 .subsection3-2 a{
	padding-bottom: 10px;
	border-bottom: 2px solid #404040;
	display: block;
	padding: 7px;
}
.section3 .subsection3-4 input{
	color: white;
	margin-top: 12px;
	border: 2px solid #222222;
	width: 70%;
	border-radius: 10px;
	background-color: #222222;
	padding: 10px;
	color: #979797;
}
.section3 .subsection3-4 textarea{
	color: white;
	margin-top: 12px;
	border: 2px solid #222222;
	width: 70%;
	border-radius: 10px;
	background-color: #222222;
	padding: 10px;
	color: #979797;	
}
.section3 .subsection3-4 input[type=submit]{
	width:80px;
	color: black;
	text-transform: uppercase;
	font-weight: bold;
	background-color: #76c38f;
	padding: 10px;	 
}
.main-footer{
	padding-left: 65px;
	background-color: #2b2b2b;
	height: 60px;
	border: 2px solid #2b2b2b;
	display: flex;
	padding-top: 10px;
	color: #979797;
}
#footer-1{
	flex: 3.6;
}

#footer-2{
	flex: 1;
}
@media screen and (max-width: 1280px){
	*{
		display: block;
		width: 100%;
		float: none;
		text-align: center;
	}
	.logo{
		width: 100%;
		padding-top: 5%;
		margin: auto;
		display: block;
	}
	.logo img{
		width: 50%;
		height: 50%;
		margin-left: 25%;
	
	}
	nav{
		margin-left: 50%;
		display: block;
		margin: 0;
		width: 100%;
		margin-top: 7%;
		margin-bottom: 2%;
	}
	nav ul{
		width: 50%;
		margin: auto;
		padding: 0;
	}
	nav ul a li{
		display: block;
		padding: 0;
	}
	nav ul li:hover{
		padding: 0;
	}
	showcase .text{
		width: 100%;
		float: none;
		margin: auto;
		margin: 10px 0 0 0;
	}
	.text h1{
		font-size: 20px;
	}
	.text a{
		padding: 5px;
		width: auto;
	}
	showcase img{
		display: none;
	}
	.section1{
		width: auto;
		margin: 0;
		height: auto;
		display: block;
	}
	.section1 a{
		width: auto;
		height: auto;
		margin: 0;
	}
	.section1 a h1{
		font-size: 20px;
	}
	.section2{
		padding: auto;
		height: auto;
	}
	.section2 h1{
		width: auto;
	}
	.section3{
		display: block;
	}
	.section3 .subsection3-1{
		padding-top: 30px;
		margin: auto;		
	}
	.section3 .subsection3-2{
		margin: auto;
		padding-top: 30px;
	}
	.section3 .subsection3-3{
		margin: auto;
		padding-top: 30px;
	}
	.section3 .subsection3-4{
		margin: auto;
		padding-top: 30px;
	}
	.section3 *{
		margin: auto;
	}
	.main-footer{
		padding: 0;
		height: auto;
		display: block;
		width: auto;
	}
}