
body{
	margin: 0;
	padding: 0;
	font: 15px/1.5 arial;
}
a{
	text-decoration: none;
}
/* for top-bar */
.top-bar{
	height: 59px;
	background-color: #212d3a;
	border: 2px black solid;
}
.top-bar-1, .top-bar-2{
	display: inline-block;
	margin: 15px;
}
.top-bar-1{
	margin-top: 15px;
}
.top-bar-1 a{
	padding: 3px;	
}
.top-bar-1 a img{
	width: 27px;
	height: 26px;
}
.top-bar-2{
	float: right;
}
.top-bar-2 input{
	width: 210px;
	height: 20px;
	border-radius: 10px;
	background-color: #2e3f51;
	border: 0;
	color: white;
	padding: 0 11px;
	position: relative;
	left: 26px;
	bottom: 5px;
	z-index: 0;
}
.top-bar-2 input[type=text]:focus{
	outline: none;
}
.top-bar-2 form a{
	z-index: 1;
	position: relative;
}

/* For main-header */

.main-header{
	height: 126px;
}
.logo, nav{
	display: inline-block;
	margin: 36px 20px;
}
nav{
	float: right;
}
nav ul li{
	display: inline;
	margin: 20px;
}
nav ul li a{
	color: #999999;
	font-weight: bold;
	font-family: georgia;
}
nav ul li a:hover{
	color: #212d3a;
}
/* for slider/showcase */
section .slider{
	height: 530px;
	background-color: #2e3f51;
	color: white;
	border: 2px #2e3f51 solid;
}
.main-container{
	margin: 40px 20px;
	display: flex;
}
.slider-1{
	flex: 1;
	background-color: #2f3944;
	height: 450px;
}
.slider .slider-1 .container{
	margin: 31px 26px;
}
.slider-1 h2{
	margin-top: 50px;
}
.slider-1 a{
	text-decoration: none;
	color: white;
	float: right;
	margin-top: 16px;
}
.slider .slider-2{
	flex: 3;
	background-color: #303030;
}
.slider .slider-2 h1{
	margin-top: 200px;
	text-align: center;
}
.shout{
	height: 124px;
	border-bottom: 1px #d4d4d4 solid;
}
.shout .container{
	display: flex;
	margin: 31px 0;
}
.shout .container img{
	margin: 0 60px;
}
.shout .container h3{
	color: #505050;
}
@media only screen and (max-width: 720px) {
	.top-bar-1, .top-bar-2{
		margin-left: 0;
		margin-right: 0;
	}
	.top-bar-2 form input{
		width: 170px;
	}
	.logo *{
		border: 2px black solid;
	}
	.logo{
		display: block;
		margin-left: auto;
		margin-right: auto;
		width: 40%;
	}
	nav{
		float: none;
		display: block;
		width: 100%;
	}
	nav ul li{
		font-size: 10px;
		margin: 1px;
	}
	
}